<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="text-center"><%= @business.name %></h1>
        <p class="text-center"><%= @business.description %></P>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Masonry Container -->
      <div id="masonry-container">
        <% 15.times do %>
          <div class="box">
            <%= link_to( image_tag("http://placehold.it/#{@items.sample}text=Item"), "#") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
