<div class="container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <div class="jumbotron">
        <h1 class="text-center"><%= @business.name %></h1>
        <p class="text-center"><%= @business.discription %></P>
      </div>
    </div>
  </div>
</div>

<!-- Masonry Container -->
<div class="row">
  <div class="large-12 columns">
    <div id="masonry-container">
      <% 15.times do %>
      <div class="box">
        <%= link_to( image_tag("http://placehold.it/#{@items.sample}text=Item"), "#") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
