<h1>Welcome to the Road Kill Cafe</h1>
<ul>
  <% @items.each do |item| %>
    <li> <%= link_to item.title, admin_item_path(item) %> </li>
  <% end %>
</ul>
<%= link_to "Create Item", new_admin_item_path %>
