<div class="row">
  <% @items.each do |item| %>
    <div class="box col-sm-3">
      <%= image_tag item.image, size: "100" %><br>
      <%= link_to item.title, admin_item_path(item) %>
    </div>
  <% end %>
</div>
<%= link_to "Create Item", new_admin_item_path, class: "btn btn-success", id: "create-button" %>
