<div class="container">
  <div class="row">
    <h3>Create a New Menu Item</h3>
    <%= render 'form' %>
    <div class="text-center">
    <%= link_to "Cancel", admin_items_path, class: "btn btn-danger", id: "btn-delete" %>
    </div>
  </div>
</div>