<nav>
  <ul class="pagination pagination-lg" >
    <li class="category-nav"><%= link_to "All", items_path %></li>
    <% Category.all.each do |category| %>
    <li class="category-nav"><%= link_to "#{category.name}", category_path(category.id) %></li>
    <% end %>
  </ul>
</nav>