<div class= "container">
  <div class= col-md-6>
    <h3>Sign up with email:</h3>
    <%= render "partials/new_user" %>
  </div>
  <div class="col-md-6 text-center">
    <h3>Sign up with Twitter</h3>
    <%= button_to "Twitter Login", "/auth/twitter", class: "btn btn-primary features"  %>
  </div>
</div> 