<div class="row">
  <div class="col-md-12">
    <h1>A Dewdrop of Droply</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>The Most Reliable Source of Supplies</h2>
    <p>Help your team get relief supplies to the people and places that need them</p>
    <%= button_to "Shop", root_path %>
  </div>

  <div class="col-md-6 visible-md visible-lg">
    <%= image_tag "droply-icon.png", width: "150", height: "150", title: "Droply Icon" %>
    <%= image_tag "droply-icon.png", width: "150", height: "150", title: "Droply Icon" %>
    <%= image_tag "droply-icon.png", width: "150", height: "150", title: "Droply Icon" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
    <h3>Browse Items</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <h3>View Our Suppliers</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</p>
  </div>

  <div class="col-sm-4 col-xs-6">
    <h3>Choose a Location</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</p>
  </div>
</div>
