<div class="row">
  <% @items.each do |item| %>
    <div class="box col-sm-4 polaroid">
      <figcaption><%= link_to item.title, item_path(item) %></figcaption>
      <%= image_tag item.image, size: "150" %>
      <div id=<%= "net-button-#{item.id}" %>>
        <%= button_to "Add to net", cart_items_path(item_id: item), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>