<%= form_for([:admin, @item]) do |f| %>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
       
        <% category_all.each do |category| %>
          <%= check_box_tag 'cateogory_ids[]', category.id, @item.categories.include?(category) ? true : false-%>
          <%= category.name -%>
        <% end %>
      </span>
      <input type="text" class="form-control" aria-label="...">
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
  <% end %>