<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center main-title">The Droply Story</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h2 class ="text-center item"><em>Delivering Life Globally</em></h2>
</div>

<div class="container-fluid">
  <div class="row well">
    <div class="col-md-4">
      <h2 class="values">Droply Values</h2>
      <h3><i class="glyphicon glyphicon-leaf"></i> Quality Supplies</h3>

      <h3><i class="glyphicon glyphicon-globe"></i> Global Delivery </h3>
      <h3><i class='glyphicon glyphicon-plane'></i> Every Moment Matters </h3>
      <h3><i class="glyphicon glyphicon-heart"></i> Every Life is Worth Saving</h3>
    </div>
    <div class="col-md-8">
      <h2 class="values">Mission</h2>
      <p class="lead">Droply was created to help bring life saving supplies to the people that need them the most. We strive to create an easy, efficient, and cost effective way to get supplies on the ground when there is a disaster.</p>
      <p class="lead"><strong>Choose us when the moment chooses you.</strong></p>
    </div>
  </div> <!-- row well well-lg -->
</div> <!-- container-fluid -->

<div class="container">
  <h1 class = "text-center featured team">The Droply Team</h1>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Austin Wood</h3>
      <%=image_tag('austin2.png', class: "img-responsive team-image center-block img-circle bw")%>
      <h4 class="text-center">Cofounder, CTO</h4>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</em></p>

    </div>
    <div class="col-md-4">
      <h3 class="text-center">Kit Pearson</h3>
      <%=image_tag('kit.png', class: "img-responsive team-image center-block img-circle bw")%>
      <h4 class="text-center">Cofounder, CEO</h4>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</em></p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Paul Grever</h3>
      <%=image_tag('paul.png', class: "img-responsive team-image center-block img-circle bw")%>
      <h4 class="text-center">Cofounder, COO</h4>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non ex enim. Vivamus ac nunc eu arcu rhoncus feugiat. Etiam placerat molestie maximus. Morbi auctor ultricies risus eget blandit. Sed eget lacinia ligula, laoreet elementum lacus. Ut scelerisque magna ac risus dapibus, nec placerat nibh dignissim.</em></p>
    </div>
  </div>
</div>
