@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: Avenir;
  src: local("./fonts/AvenirNextLTPro-Regular.otf")
}

$site-white: #EDEFED;
$site-brown: #EDBC7B;
$site-black: #333;
$site-mint: #A4F2EA;
$site-red: #E3655B;

body {
  font-family: Avenir;
  color: $site-black;
  background-color: $site-white;
}

.container { padding-top: 46px; }

.container.nav { padding-top: 0; }

.navbar-default {
  background-color: $site-mint;
  border-color: $site-black;
}

#nav-title {
  padding-top: 15px;
  font-size: 20px;
  color: $site-red;
}

.navbar-brand-image {
  width: 50px;
  height: 50px;
  padding: 5px;
}

// navbar dropdown
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $site-brown;
}

.jumbotron {
  background-color: $site-mint;
}

a { color: $site-red; }

li { list-style: none; }

#sign-in { margin: 50px; }

.main-title {
  color: $site-red;
  font-size: 90px;
  margin-bottom: 30px;
}

.well {
  background-color: $site-brown;
}

.btn {
  margin: 4px;
  border-color: none;
}

.btn:hover {
  color: $site-brown;
}

.btn-supply {
  background-color: $site-mint;
}

.btn-tour {
  background-color: $site-red;
}

.features {
  margin-top: 50px;
  margin-bottom: 50px;
}

.features .glyphicon {
  font-size: 32px;
}

.featured {
  padding-top: 40px;
}

.item { margin-bottom: 70px; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: $site-brown;
}

#sign-in { margin: 50px; }

#supply-hist {
  margin-top: 0;
}

#profile-table {
  margin-top: 20px;
}

#cart-show {
  min-height: 100vh;
}

.team {
  color: $site-red;
}

.team-image {
  width: 300px;
}

.values {
  color: $site-white;
}

.well-width {
  display: inline-block;
}

.bw {
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.bw:hover {
  -webkit-filter: grayscale(0%);
}

.row-align {
  margin-top:  10px;
}

.disaster-background {
  background: url(items_banner.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 165px;
}

.divider {
  padding-bottom: 20px;
  border-bottom: 1px solid $site-black;
}

.spacer {
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}

