<div class="input-group">
  <%= simple_form_for @business, url: new_business_path, html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :name, lable: "Name" %>
    <%= f.input :description, lable: "Description" %>
    <%= f.button :submit %>
  <% end %>
</div>
